.cinemagraph {
  background-image: url('../assets/header2.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: fixed;
  width: 100%;
  height: 450px;
}

header {
  padding: 50px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  height: 450px;
  //margin-top: 80px;

  h1,
  h2 {
    color: #fff;
    padding: 10px;
  }

  h1 {
    margin: 0 0 10px;
    font-weight: 200;

    span {
      color: $primary-color;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }

  button {
    transition: background-color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    padding: 15px 25px;
    border: solid 2px #fff;
    background-color: transparent;
    color: #fff;
    min-width: 140px;
    margin: 20px 10px 0;
    outline: none;
  }

  button:hover {
    transition: background-color .3s ease;
    transition: color .3s ease;
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;

    .fa {
      color: $primary-dark;
    }
  }

  .header-content {
    text-align: center;
    position: relative;

    @media screen and (max-width: 500px) {
      h1 {
        font-size: 22px;
        margin-top: 40px;
      }
    }
  }
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  background: url("../assets/square-tile.png");
  background-color: rgba(0, 0, 0, 0.16);
  background-size: 19px;
}

.gradient-lr {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.51) 0%, rgba(0,0,0,0.01) 77%, rgba(0,0,0,0) 78%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.51)), color-stop(77%,rgba(0,0,0,0.01)), color-stop(78%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.01) 77%,rgba(0,0,0,0) 78%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.01) 77%,rgba(0,0,0,0) 78%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.01) 77%,rgba(0,0,0,0) 78%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.01) 77%,rgba(0,0,0,0) 78%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */

}