footer {
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  font-size: 12px;
  padding: 30px 50px;
  font-weight: 200;
  position: relative;


  @media screen and (max-width: 600px) {
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
  }

  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }

  li {
    border-right: solid 1px #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
  }

  li:first-child {
    padding-left: 0;
  }

  li:last-child {
    border: 0;
    padding-right: 0;
  }

  div {
    float: right;
    text-align: right;
    width: 250px;
    max-width: 100%;
    margin-top: 15px;

    @media screen and (max-width: 600px) {
      float: none;
      text-align: center;
      margin: 0 auto;
    }

    h2 {
      font-size: 22px;
      font-weight: 800;
    }

    p:first-child {
      font-size: 16px;
      font-size: 16px;
    }

    p:last-child {
      font-weight: 600;
      font-size: 16px;
    }

    i {
      font-size: 12px;
    }
  }
}