.contact-section {
  background-color: #F2F2F2;
  text-align: center;
  position: relative;
  padding: 100px 20px;

  h1 {
    font-weight: 200;
    margin-bottom: 50px;
  }

  form[name=contactForm] {
    margin: 0 auto;
    max-width: 100%;
    width: 400px;
  }

  label {
    color: rgb(190, 190, 190);
    text-align: left;
    display: block;
    margin-bottom: 5px;
    position: relative;
  }

  .hide-label {
    transition: top .3s ease;
    top: 40px;
    z-index: -1;
  }

  .show-label {
    transition: top .3s ease;
    z-index: 1;
    top: 0;
  }

  input,
  textarea {
    border: 0;
    margin: 5px 0 10px;
    outline: none;
    padding: 5px;
    width: 100%;
  }

  input:focus,
  textarea:focus {
    border-color: rgba(0, 0, 0, 0.3);
  }

  input {
    height: 40px;
  }

  textarea {
    height: 250px;
    resize: none;
  }

  button {
    padding: 10px 40px;
    background-color: $primary-color;
    color: #fff;
    border: 0;
    font-weight: 200;
  }
}